.navbar-brand:hover {
    color: white;
  }
.nav-link:hover{
  color: white;
}

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 3%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(110, 105, 105, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .overlay:hover {
    opacity: 0.7;
  }
  
  .overlay-content {
    text-align: center;
    color: white;
    display: none;
  }
  
  .overlay:hover .overlay-content {
    display: block;
  }

  .star-rating {
    display: inline-block;
    font-size: 20px;
    color: gold;
  }

  